.index {
  padding: 50vh 0vw;
  text-align: center;
  width: max-content;
}
.index .col {
  color: black;
  background-color: aliceblue;
  margin: 10px;
  min-width: none;
  max-width: fit-content;
  text-decoration: none;
  padding: 20px;
  border-radius: 12px;
}
